*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(images/aboutimg.jpg);
}
html{
    scroll-behavior: smooth;
}
.nav{
    background-color: rgb(61, 3, 3);
    width: 100%;
    height: 60px;
}
.nav p{
    color: wheat;
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    border-right: solid 1px wheat;
    padding-right: 10px;
}
.up{
    background-color: wheat;
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 1000;
    border-radius: 30px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.an{
    border: none !important;
}
.linkedin a{
    position: relative;
    top: 5px;
    left: 5px;
}
.linkedin{
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background-color: wheat;
    margin-top: 5px;  
    position: relative;
    left: 79%;  
    bottom: 28px;
    cursor: pointer;
}
.linkedin:hover{
    background-color: rgb(13, 178, 232);

}
.twitter{
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background-color: wheat;
    margin-top: 5px;  
    position: relative;
    left: 83%;  
    bottom: 73px;
    cursor: pointer;
}
.twitter a{
    position: relative;
    top: 5px;
    left: 5px;
}
.twitter:hover{
    background-color: rgb(4, 181, 240);
}
.pinterest{
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background-color: wheat;
    margin-top: 5px;
    position: relative;
    left: 87%;  
    bottom: 117px;
    cursor: pointer;  
}
.pinterest a{
    position: relative;
    top: 5px;
    left: 5px;
}
.pinterest:hover{
    background-color: red;
}
.gmail{
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background-color: wheat;
    margin-top: 5px;
    position: relative;
    left: 91%;  
    bottom: 161px;
    cursor: pointer;  
}
.gmail img{
    width: 40px;
}
.gmail:hover{
    background-color: red;
}
.facebook{
    border-radius: 30px;
    width: 40px;
    height: 40px;
    background-color: wheat;
    margin-top: 5px;
    position: relative;
    left: 95%;  
    bottom: 206px;
    cursor: pointer;  
}
.facebook a{
    position: relative;
    top: 6px;
    left: 5px;
}
.facebook img{
    height: 30px;
}
.facebook:hover{
    background-color: blue;
}
.div1{
    display: inline-block;
    width: 40%;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    
}
.div1 img{
    width: 110px;
    height: 110px;
    border-radius: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.div2{
    width: 50%;
    position: relative;
    bottom: 60px;
    left: 50%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.nav2 a div{
    width: 15%;
    height: 50px;
    background-color:  rgb(61, 3, 3);
    display: inline-block;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    cursor: pointer;
}
.nav2 a div{
    text-decoration: none;
    color: white;
    
}
.nav2 a div:hover{
    background-color: wheat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.home{
    margin-left: 4%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.contact{
    background-color: wheat !important;
}
.sponsors{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.h2cl{
    text-align: center;
    color: brown;
    border-bottom: 2px solid burlywood;
    width: 300px;
    margin-left: 470px;
}
.divvu h2{
    margin-left: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.divvu p{
    margin-left: 290px;
}
.divoh h2{
    position: relative;
    bottom: 100px;
    left: 880px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.divoh p{
    position: relative;
    bottom: 100px;
    left: 860px;
}
.h1cn{
    text-align: center;
    color: brown;
    border-bottom: 2px solid burlywood;
    width: 250px;
    margin-left: 470px;
    padding-top: 50px;
    
}
.cn{
    border: 2px solid brown;
    width: 600px;
    height: 490px;
    margin-left: 300px;
    margin-top: 50px;
    background-image: url(images/download4.jfif);
    background-repeat: no-repeat;
    background-size: 736px;
}
.name{
    background: transparent;
    border: 2px solid burlywood;
    width: 500px;
    height: 30px;
    margin-left: 50px;
    margin-top: 60px;
    padding-left: 7px;
    color: white;
}
.email{
    background: transparent;
    border: 2px solid burlywood;
    width: 500px;
    height: 30px;
    margin-left: 50px;
    margin-top: 20px;
    padding-left: 7px;
    color: white;
}
.pn{
    background: transparent;
    border: 2px solid burlywood;
    width: 500px;
    height: 30px;
    margin-left: 50px;
    margin-top: 20px;
    padding-left: 7px;
    color: white;
}
.msg{
    color: white;
    background: transparent;
    border: 2px solid burlywood;
    width: 500px;
    height: 100px;
    margin-left: 50px;
    margin-top: 20px;
    padding-left: 7px;
    color: white;
}
::-webkit-input-placeholder{
    color: burlywood;
}
.btn2{
    background-color: brown;
    color: burlywood;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-left: 240px;
    margin-top: 50px;
    cursor: pointer;
}